/* Stile generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

/* Stile header */
.logo{
    background-color: white;
    padding: 10px 20px;
    
}

.text-logo{
    font-size: 40px;
    font-weight: bold;
}


/* Stile main */
.container{

}
